<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>ADD WORK</title>
</head>
<body>
<div id="app">
    <div th:replace="fragments/header :: header"/>
    <v-container>
        <v-card>
            <v-container>
                <v-form action="/course/add-work" th:object="${work}" method="POST" enctype="utf8">
                    <v-row align="center">
                        <v-col>
                            <v-text-field type="text" label="Work Title" name="title" th:field="*{title}"/>
                        </v-col>
                        <v-col>
                            <v-text-field type="text" label="Description" name="description" th:field="*{description}"/>
                        </v-col>
                        <v-col>
                            <v-text-field type="text" label="Link To PDF" name="linkToPDF" th:field="*{linkToPDF}"/>
                        </v-col>
                        <v-col>
                            <v-radio-group row v-model="radios">
                                <v-radio
                                        v-for="n in items"
                                        :key="n"
                                        :label="n"
                                        :value="n"
                                ></v-radio>
                            </v-radio-group>
                        </v-col>
                        <v-col>
                            <v-btn type="submit">Save</v-btn>
                            <v-btn href="/teacher/homepage">Cancel</v-btn>
                            <input type="hidden" :value="radios" th:field="*{type}"/>
                        </v-col>
                    </v-row>
                </v-form>
            </v-container>
        </v-card>
    </v-container>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            items: ["TD", "TP", "Chapter"],
            radios: "TD"
        }),
    })
</script>
</body>
</html>