<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title th:text="${name}"></title>
</head>
<body>
<div id="app" align="center">
    <v-app>
        <v-main>
            <div th:replace="fragments/header :: header"/>
            <v-container class="grey lighten-5" fluid fill-height>
                <v-row v-for="w in this.works" :key="w.id" align="center" justify="center">
                    <v-col ma="8">
                        <v-card class="mx-auto" width="800" tile>
                            <v-card-title>{{w.type + ' ' + w.title}}</v-card-title>
                            <v-card-subtitle align="start">{{w.date}}</v-card-subtitle>
                            <v-card-actions>
                                <v-btn color="orange lighten-2" @click="w.show = !w.show" text>
                                    Description
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-row dense>
                                    <v-col dense>
                                        <v-btn v-if="user==='auth'" @click="showDelete(w.id)">
                                            Delete
                                        </v-btn>
                                    </v-col>
                                    <v-col dense>
                                        <v-btn v-if="user==='auth'"
                                               :href="'/course/works/update/'+course.id+'/'+w.id">
                                            Modify
                                        </v-btn>
                                    </v-col>
                                </v-row>
                                <v-btn icon @click="w.show = !w.show">
                                    <v-icon>{{ w.show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                </v-btn>
                            </v-card-actions>
                            <v-expand-transition>
                                <div v-show="w.show" class="mx-auto">
                                    <v-divider></v-divider>
                                    <v-card-text>{{w.description}}</v-card-text>
                                    <v-btn :href=w.linkToPDF block>PDF</v-btn>
                                </div>
                            </v-expand-transition>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
            <v-dialog v-model="closeShow" max-width="500px">
                <v-card>
                    <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete()">Cancel</v-btn>
                        <v-btn color="blue darken-1" text :href="'/course/works/delete/'+course.id+'/'+deleteTarget">
                            OK
                        </v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-main>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script th:inline="javascript">
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            works: [],
            user: "unauth",
            course: {
                id: 1,
                name: "AL",
                description: "AL Description",
                credits: "5",
                coefficient: "2",
                teachers: ["Teacher 1", "Teacher 2", "Teacher 3"]
            },
            deleteTarget: 0,
            closeShow: false,
        }),
        methods: {
            closeDelete() {
                this.deleteTarget = 0;
                this.closeShow = false;
            },
            showDelete(id) {
                this.deleteTarget = id;
                this.closeShow = true;
            },
        },
        mounted() {
            this.user =/*[[${usertype}]]*/ 'unauth'
            /*[# th:each="w : ${works}"]*/
            this.works.push({
                id: /*[[${w.id}]]*/ 0,
                title: /*[[${w.title}]]*/ '',
                date: /*[[${w.date}]]*/ '',
                linkToPDF: /*[[${w.linkToPDF}]]*/ '',
                description: /*[[${w.description}]]*/ '',
                type: /*[[${w.type}]]*/ '',
                show: false
            });
            /*[/]*/
        }
    })
</script>
</body>
</html>
