<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div th:fragment="header">
    <v-container class="grey lighten-5" fluid fill-height width="1000">
        <v-app-bar color="red">
            <v-toolbar-title>E-Learning</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn text disabled color="primary--text" v-if="user==='teacher'" th:text="${username}"></v-btn>
            <v-btn v-if="user==='teacher'" href="/perform_logout" color="secondary">
                Logout
            </v-btn>
            <v-btn v-if="user==='student'" href="/login" color="secondary">
                Login
            </v-btn>
        </v-app-bar>
    </v-container>
</div>

</body>
</html>