<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new Teacher</title>
</head>
<body>
<h1>form</h1>
<h1 th:text="${message}">form</h1>
<form action="/teachers/registration" th:object="${teacher}" method="POST" enctype="utf8">
    <div>
        <label>first</label>
        <input th:field="*{firstName}" value="${teacher.firstName}"/>
    </div>
    <div>
        <label>last</label>
        <input th:field="*{lastName}" value="${teacher.lastName}"/>
    </div>
    <div>
        <label>email</label>
        <input type="email" th:field="*{email}" value="${teacher.email}"/>
    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}" value="${teacher.password}"/>
    </div>
    <div>
        <label>confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit">submit</button>
</form>

<a th:href="@{/teachers/Login}">login</a>
</body>
</html>